    /* Custom styles here */
    body {
      font-family: 'Roboto', Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      background-color: #ffffff;
    }

    h1, p, a {
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #343a40;
    }

    .article-author {
      text-align: center;
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
      color: #6c757d;
    }

    .article-image {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      margin-bottom: 2rem;
      border: 5px solid #343a40;
      border-radius: 10px;
    }

    .return-button {
      margin-bottom: 1.5rem;
    }

    .content {
      min-height: calc(100vh - 3rem); /* Subtract the footer height */
      padding-bottom: 3rem; /* Set equal to footer height */
      background-color: #ffffff;
    }

    .footer {
      background-color: #343a40;
      color: #fff;
      padding: 1rem 0;
      text-align: center;
    }
    
      .hero-section {
    background-image: url('https://mnthen.com/article/images/lf_header.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero-content {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
  }

  .hero-content h1,
  .hero-content p {
    color: #fff;
  }
    
    header {

      display: flex;

      justify-content: space-between;

      align-items: center;

      padding: 14px 24px;

      background-color: #333;

      color: #fff;

    }


    header h1 {

      margin: 0;

      font-size: 24px;

      font-weight: bold;

    }


    header a {

      color: #fff;

      text-decoration: none;

      font-size: 18px;

      transition: color 0.3s ease;

    }


    header a:hover {

      color: #e9ecef;

    }

    @media (max-width: 576px) {
      .article-author {
        font-size: 1rem;
      }

      .article-image {
        margin-bottom: 1rem;
      }

      .return-button {
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 2rem;
      }
    }

    .lead {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 1rem;
      color: #495057;
    }

    article p {
      font-size: 1rem;
      line-height: 1.6;
      color: #495057;
    }

    a {
      color: #007bff;
    }

    a:hover {
      color: #0056b3;
      text-decoration: none;
    }
