
    /* Custom styles here */


    body {


      font-family: 'Roboto', Arial, sans-serif;


      margin: 0;


      padding: 0;


      font-size: 1.2rem;


    }



    h1,


    h2,


    p,


    a {


      font-family: 'Roboto', Arial, sans-serif;


    }



    .navbar {


      background-color: #343a40;


      padding: 0.5rem;


    }



    .navbar-brand {


      font-size: 22px;


      font-weight: bold;


      color: #fff;


    }



.content {


  padding: 2rem;


}



    .article-author {


      text-align: center;


      font-size: 1.2rem;


      margin-bottom: 1rem;


    }


    .article-author a {


  text-decoration: none; /* Remove the underline */


}



    .article-date,


    .cite-button {


      font-size: 0.9rem;


      margin-bottom: 0.5rem;


    }



.article-image {


  display: block;


  margin: 2rem auto 0;


  max-width: 100%;


  height: auto;


  padding-top: 1rem;


  text-align: center;


  border: 1px solid #ccc;


  border-radius: 8px;


  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}



    .image-summary-source {


      text-align: center;


      margin-top: 10px;


    }



    .image-summary {


      font-size: 0.9rem;


      color: #333;


      margin-bottom: 0.5rem;


    }



    .return-button {


      margin-bottom: 1.5rem;


      text-align: center;


    }



    .cite-button {


      position: relative;


      left: -5px; /* Adjust the left value as needed */


    }


    .cite-popup {


      position: absolute;


      top: 100%;


      left: -100px; /* Adjust the left value as needed */


      transform: translateX(-50%);


      max-width: 450px; /* Adjust the max-width as needed */


      padding: 15px;


      background-color: #fff;


      border: 1px solid #ccc;


      border-radius: 4px;


      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


      z-index: 100;


      text-align: left;


      display: none;


      font-size: 15px;


    }

    .cite-button.open .cite-popup {

      display: block;

    }



    .cite-popup p {

      margin-bottom: 10px;


    }



    .cite-popup h4 {


      margin-top: 0;


      margin-bottom: 15px;


    }



    .cite-popup .close-button {


      position: absolute;


      top: 5px;


      right: 5px;


      font-size: 20px;


      color: #999;


      cursor: pointer;


    }



    .bibliography {


      margin-top: 2rem;


      padding: 1rem;


      background-color: #fff;


      border: 1px solid #ccc;


      border-radius: 4px;


    }



    .return-button a {


      color: #fff;


      text-decoration: none;


    }



    .footer {


      background-color: #343a40;


      color: #fff;


      padding: 1rem 0;


      text-align: center;


    }


    /* Adjust container max-width for small screens */


    @media (max-width: 576px) {


      .container {


        max-width: 100%;


        padding-left: 15px;


        padding-right: 15px;


      }


      .url {


        word-break: break-all;


      }


      .cite-button {


        display: none;


      }


      .cite-popup {


        max-width: 100%;


        left: 0;


        right: 0;


        transform: none;


      }


    }
