body {

    font-family: 'Roboto', sans-serif;

}


.footer-container {

    width: 90%; /* Full width */

    max-width: 1200px; /* Maximum width */

    margin: auto; /* Center the container */

    padding: 35px; /* Padding inside the container */

}

 
    .search-form {

    max-width: 600px; /* Adjust the width as needed */

    margin: auto; /* Center the form */

    padding: 20px;

    border-radius: 10px; /* Rounded corners */

}


.input-group {

    display: flex;

}


.form-control {

    border-radius: 5px 0 0 5px; /* Rounded left corners */

    border-right: none; /* Remove right border to blend with button */

}


    .breadcrumb-item + .breadcrumb-item::before {

  color: #fff; 

}


/* Hero Section */
#hero {
background-image: url("/images/fermen_header.jpg");
background-size: cover;
background-position: center;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-align: center;
position: relative;
}

    .search-container {

      display: flex;

      justify-content: center;

      align-items: center;

      margin-bottom: 20px;

    }


    .search-box {

      border-radius: 8px;

      padding: 10px;

      display: flex;

      align-items: center;

    }


    #searchInput:focus {

      outline: none;

      border-color: #555;

    }


    #searchButton {

      padding: 10px 15px;

      border: none;

      border-radius: 8px;

      color: #fff;

      cursor: pointer;

      font-size: 18px;

      margin-left: 10px;

          background-color: #0056b3;

    }


    #searchButton:hover {

          background-color: darken(#4a7c59, 10%);

    }


    .faq-section {

      max-width: 95%;

      margin: 40px auto;

      background-color: #fff;

      border-radius: 10px;

      padding: 20px;

      border: 1px solid #ddd;

    }


    .faq-title {

      text-align: center;

      font-weight: bold;

      font-size: 24px;

      margin-bottom: 20px;

    }


.help-center-link {

  display: inline-block;

  padding: 10px 20px;

  border: 1px solid #ccc;

  border-radius: 5px;

}


    .search-results {

      display: none;

      margin-top: 20px;

      background-color: #fff;

      border-radius: 4px;

      padding: 20px;

      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    }

 
    .article-link {

      display: block;

      margin-bottom: 10px;

      color: #555;

      text-decoration: none;

      font-weight: bold;

    }


    .article-link:hover {

      text-decoration: underline;

    }


    .article-summary {

      color: #777;

      margin-top: 5px;

    }



    .no-results-message {

      display: none;

      font-style: italic;

      text-align: center;

    }


    #backToHelpCenter {

      display: block;

      text-align: center;

      margin-top: 20px;

      color: #555;

      text-decoration: none;

      font-size: 18px;

    }


    #backToHelpCenter:hover {

      text-decoration: underline;

    }


  .container {

    position: relative; /* Ensure the content appears on top of the overlay */

    z-index: 2;

  }

            h1, h2, h3, h4, h5, h6 {

            font-weight: bold;

        }


        .faq-question {

            cursor: pointer;

            font-size: 20px;

            margin-bottom: 10px;

            padding-left: 30px;

            position: relative;

        }


        .faq-question:before {

            position: absolute;

            left: 0;

            transition: transform 0.3s;

        }


        .faq-question.active:before {

            transform: rotate(90deg);

        }


        .faq-question:hover {

            color: #007bff;

        }


        .faq-answer {

                  display: none;

            font-size: 18px;

            margin-bottom: 20px;

            padding-left: 30px;

        }



        .search-results .article-link, .no-results-message {

            font-size: 18px;

            margin-bottom: 10px;

        }


        .search-results .article-summary {

            font-size: 16px;

            margin-bottom: 30px;

        }


#searchInput {

  padding: 19px; /* Increase the padding for better usability */

  border: 2px solid #ddd; /* Higher contrast border */

  border-radius: 6px; /* Rounded corners for a softer look */

  transition: border-color 0.3s; /* Smooth transition for focused state */

  width: 65%; /* Make input take full width of its parent container */

}


#searchInput:focus {

  border-color: #007bff; /* Change border color when focused for emphasis */

}


      .faq-section {

        max-width: 95%;

      }

         .search-results {

        padding: 10px;

      }


      .article-link {

        font-size: 18px;

      }


      .article-summary {

        font-size: 16px;

      }

 
      @media (max-width: 600px) {

      .search-container {

        flex-direction: column;

        align-items: stretch;

      }

   
      @media (max-width: 768px) {

    .search-form {

        width: 90%; /* More width on smaller screens */

        padding: 15px;

    }

}
