.share-buttons .email-btn {
  background-color: #6c757d; /* Dark grey */
  color: #fff;
}

.share-buttons .facebook-btn {
  background-color: #3b5998; /* Facebook blue */
  color: #fff;
}

.share-buttons .twitter-btn {
  background-color: #1da1f2; /* Twitter blue */
  color: #fff;
}

.bibliography {
    background-color: #ffffff; /* Light background for the section */
    padding: 15px;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 18px; /* Adjust font size for better readability */
}

.bibliography h4 {
        color: #007bff; /* Link color */
    margin-bottom: 10px;
}

.bibliography ul {
    list-style: none; /* Remove default list bullets */
    padding-left: 0; /* Align list items to the left */
    margin-top: 0;
}

.bibliography li {
    margin-bottom: 10px; /* Space between list items */
}

.bibliography .url {
    color: #333; /* Subdued color for URLs */
    word-break: break-word; /* Ensure long URLs don't overflow */
}

.bibliography ul {
    list-style-type: disc;
    padding-left: 20px; /* Adjust as needed for alignment */
}

.bibliography ul li {
    margin-bottom: 10px; /* Optional: for better spacing between items */
}

/* Updated Enhanced Breadcrumb Styles */
.breadcrumb {
    background-color: #f5f5f5; /* Light grey background for contrast */
    padding: 10px 20px; /* Padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 20px; /* Space below the breadcrumb */
}

.breadcrumb ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex; /* Align items in a row */
    align-items: center;
}

.breadcrumb ul li {
    margin-right: 10px; /* Space between items */
}

.breadcrumb ul li:not(:last-child)::after {
    content: '|'; /* Stylish separator */
    margin-left: 10px;
    color: #6c757d; /* Separator color */
}

.breadcrumb a {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Link color */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.breadcrumb a:hover {
    color: #0056b3; /* Darker color on hover */
    text-decoration: underline; /* Underline on hover */
}

.article-affiliation {
    background-color: #f2f6f9; /* Soft and modern background color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border-left: 6px solid #0056b3; /* Stylish left border for a modern touch */
    text-align: left; /* Left align the content for a clean look */
}

.affiliation-intro {
    font-size: 18px;
    color: #606060; /* Subtle color for the introductory text */
    margin-bottom: 5px;
}

.affiliation-title {
    font-size: 24px; /* Slightly larger font size for the title */
    margin: 0;
    font-weight: bold; /* Bold weight for the title */
        color: #007bff; /* Link color */
}



