.col-md-4 h3, 

.col-md-4 p,

.col-md-4 button {

  margin-bottom: 20px;

}


.col-md-4 {

  margin-bottom: 20px;

}


.col-md-4 p {

  line-height: 1.6;

}



.container {

  padding: 40px;

}


.col-md-4 img {

  height: 300px;

  width: auto;

  margin-bottom: 10px;

      border-radius: 10px;

}

h5 {
    font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  color: #fff;
  padding: 0 5px;
  display: inline-block;
  line-height: 1;
}

.follow-text {
  font-weight: bold;
  margin-right: 10px;
}

footer p {
  line-height: 1.2;
}

