.hero-section {
  position: relative;
  background: url('https://www.mnthen.com/images/mnthen_header.png') no-repeat center center / cover;
  padding: 5rem 0; /* Adjust padding as needed */
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.display-3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2.6rem; /* Adjust font size as needed */
}

.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7rem; /* Adjust font size as needed */
}

.lead {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; /* Adjust font size as needed */
  line-height: 1.6;
}

@media (min-width: 768px) {
  .display-3 {
    font-size: 3rem; /* Increase font size for larger screens */
  }

  .display-4 {
    font-size: 2rem; /* Increase font size for larger screens */
  }

  .lead {
    font-size: 1.25rem; /* Increase font size for larger screens */
  }
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  font-size: 1.2rem; /* Adjust font size as needed */
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #0c3a6e;
}

.ms-2 {
  margin-left: 0.5rem;
}
