
    body {
      font-size: 18px;
    }
    
    .image img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-height: 50vh;
    }
    
    @media (min-width: 576px) {
      .image img {
        max-height: 70vh;
      }
      
      body {
        font-size: 18px;
      }
    }
    
        html, body {
      overflow-x: hidden;
    }
    
    .box {
      /* Remove the max-height property */
    }
    
    .hero {
      margin-bottom: .5rem; /* Adjust the margin as per your preference */
    }
    
    .location-container p {
      font-size: 19px;
    }
    
    .location-details,
    .audio-box {
      text-align: center;
    }
    
    .additional-resources .col-md-4 {
      display: flex;
      justify-content: center;
    }
    
    .btn-primary {
      background-color: #0000ff;
      color: #fff;
    }
    
    /* Header styles */
    header {
      background-color: #6c757d;
    }
    
    .navbar-brand {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
    }
    
    .navbar-nav .nav-link {
      color: #fff;
      font-size: 16px;
    }
    
    .navbar-toggler-icon {
      background-color: #fff;
    }
    
    /* Footer styles */
    footer {
      color: #fff;
      padding: 15px 0;
      font-size: 16px;
    }
    
    /* Hover effect for navigation menu */
    .navbar-nav .nav-link:hover {
      color: #fff;
      background-color: #6c757d;
    }
    
    .cta {
      background-color: #0000ff;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    /* Mobile-specific styles */
    @media (max-width: 576px) {
      .col-md-6 {
        margin-bottom: 1rem;
      }
      
      .hero {
        font-size: 16px;
        padding: 10px;
      }
      
      .box {
        margin-bottom: 1rem;
      }
      
      .additional-resources .col-md-4 {
        font-size: 14px;
      }
      
      .cta {
        padding: 10px;
      }
    }
    
       /* Hero */ 

    .hero_1 {

      background: url('../images/tour_header.jpg') center center no-repeat;

      background-size: cover;

      padding: 7rem 2rem;

    }


    .hero-title {

      font-size: 3rem;

      margin-bottom: 1.5rem;

      text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);

    }

 
    .hero-title,

.hero p {

  color: #fff; 

}

 
.hero {

  background-image: linear-gradient(

      rgba(0, 0, 0, 0.5), 

      rgba(0, 0, 0, 0.5)

    ), url('../images/tour_header.jpg');

}

