* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.hero-image {
  width: 100%;
  height: auto;
}

.content-section {
  background-color: #f0f0f0;
  text-align: center;
  padding: 40px 0;
}

.content-container {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.author-label {
  font-size: 24px;
  color: #000;
  margin-bottom: 5px;
}

.author-name {
  font-size: 20px;
  color: #00f;
}

.summary {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
}

.audio-player {
  margin-top: 30px;
}

.white-box {
  background-color: #fff;
  padding: 20px;
}

.location-sponsor-header {
  font-size: 22px;
  margin-bottom: 10px;
}

.vertical-margin {
  margin-bottom: 40px;
}

/* Custom CSS for the gallery section */
.hero-gallery {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.source-link {
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}

.source-link:hover {
  text-decoration: underline;
}

.summary-container {
  background-color: white;
  padding: 20px;
}

.summary-box {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  margin: 0;
}

.summary-box p {
  margin: 0;
  font-size: 20px;
}

.summary-box a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
    font-size: 20px;
}

.summary-box a:hover {
  text-decoration: underline;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  margin: 10px;
  width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

@media (min-width: 768px) {
  .content-container {
    max-width: 800px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .author-label {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .author-name {
    font-size: 18px;
    margin-top: 5px;
  }

  .white-box {
    padding: 40px;
  }
}

.additional-resources {
  padding-top: 40px;
  padding-bottom: 40px;
}

.additional-resources .container {
  max-width: 800px;
}

.additional-resources h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.additional-resources p {
  font-size: 18px;
  margin-bottom: 20px;
}

.additional-resources .row {
  justify-content: center;
}

.additional-resources .col-md-4 {
  margin-bottom: 20px;
}

.btn-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.row > .col-md {
  padding-right: 5px;
  padding-left: 5px;
}
