  #map {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 60%;

    /* Adjusted bottom position for the boxes */

    margin-bottom: 100px;

    /* Increased margin between map and boxes */

    z-index: 0;

  }


  /* Popup content styles */

  .popup-content {

    /* Customize the styles as desired */

    width: 175px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word; /* Allow content to wrap to the next line */
  }


  .popup-content img {

    width: 100%; /* Add this line to limit the image width */
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 15px;

  }


  .popup-content h4 {

    margin-bottom: 10px;
    margin-top: 1px;

  }


  .popup-content p {

    /* Adjust the styles as desired */

    margin-bottom: 10px;

  }


  .popup-content a {

    /* Customize link styles */

    color: #007bff; /* Blue link color */
    text-decoration: none; /* Remove underline */
    font-size: 18px;

  }


  .popup-content a:hover {

    text-decoration: none; /* Remove underline on hover */

  }


  .popup-content a:visited {

    color: #007bff; /* Keep the link color after it's been visited */

  }


  @media (max-width: 800px) {

    /* Styles for mobile devices */

    #map {

      bottom: 60%;

      /* Adjusted bottom position for the boxes on mobile devices */

      margin-bottom: 50px;

      /* Reduced margin between map and boxes on mobile devices */

    }

  }


  @media (max-width: 500px) {

    /* Styles for even smaller screens */

    .info-box-container {

      top: 66%;
      margin-top: 0;


    }


    /* Exit button styles for even smaller screens */

    .exit-button {

      font-size: 20px;
      padding: 10px 20px;
      margin-top: -35px;

    }

  }


  /* Styles for Chromebook */

  @media screen and (min-width: 1024px) {

    .info-box-container {

      top: 75%;

      /* Adjust the top position for Chromebook */

      margin-top: 0;

      /* Remove the margin-top for Chromebook */

    }

  }


  .custom-popup .leaflet-popup-content {

    font-size: 18px;

    /* Adjust the font size as desired */

  }
