/* Map styles */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh; /* Set the map container to fill the entire viewport height */
  z-index: 0;
}

/* Popup styles */
.custom-popup .leaflet-popup-content-wrapper {
  padding: 10px;
}

.leaflet-popup {
  /* Popup styling */
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  transition: transform 0.3s;
}

.leaflet-popup-open {
  transform: scale(1.1);
}

.leaflet-popup-content {
  font-size: 16px;
  padding: 8px;
  width: 175px; /* Adjust the maximum width as desired */
  text-align: center;
  margin: -5px 1px -3px;
}

.leaflet-popup-content img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: -10px;
  object-fit: cover;
}

.leaflet-popup-content h3 {
  font-size: 20px;
  color: #007bff;
}

.leaflet-popup-content p {
  font-size: 14px;
  margin: -10px;
}

.map-links img {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

/* Info box styles */
#distanceBox {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid red;
  border-radius: 5px;
  font-weight: bold;
  transition: border-color 0.5s ease-in-out;
  z-index: 1;
  font-size: 18px;
}

#distanceBox.within-threshold {
  border-color: #00ff00;
}

.info-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align boxes at the top of the container */
  position: fixed;
  top: 68%;
  left: 5%;
  right: 5%;
  margin-top: 50px;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

.map-links {
  align-items: center;
  margin-top: 25px; /* Adjust the margin as desired */
}

.info-box {
  width: 90%;
  max-width: 90%; /* Adjusted maximum width for large screens */
  margin: 0 auto; /* Center the box horizontally */
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased the spread to 16px */
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px; /* Adjusted font size for better readability */
  line-height: 1.6; /* Adjusted line height for better readability */
  text-align: center;
}

/* Exit button styles */
.exit-button {
  font-size: 18px;
  padding: 8px 16px;
  margin-top: -35px;
  background-color: #0077cc;
  color: #ffffff;
  border: none;
  z-index: 2;
}

/* New Layout Styles */
#map-container {
  display: flex;
  flex-direction: column;
}

/* New Styling */
.popup {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: transform 0.2s;
}

/* New Typography Styles */
h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

/* Other new styles */

/* Media Queries */
/* Styles for mobile devices */
@media (max-width: 600px) {
  .info-box-container {
    top: 56%;
  }

  .info-box {
    font-size: 20px;
  }

  #distanceBox {
    font-size: 18px;
  }

  .exit-button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: -35px;
    z-index: 2;
  }

  /* Styles for even smaller mobile devices */
  @media (max-width: 500px) {
    .info-box-container {
      top: 58%;
    }

    .info-box {
      font-size: 20px;
    }

    #distanceBox {
      font-size: 18px;
    }

    .exit-button {
      font-size: 20px;
      padding: 10px 20px;
      margin-top: -35px;
    }

    /* Styles for smaller cell phones */
    @media (max-width: 400px) {
      .info-box-container {
        top: 60%; /* Adjust the position for smaller cell phones */
      }

      .info-box {
        font-size: 18px; /* Adjust the font size for better readability on smaller cell phones */
      }

      #distanceBox {
        font-size: 16px; /* Adjust the font size for better readability on smaller cell phones */
      }

      .exit-button {
        font-size: 18px;
        padding: 8px 16px;
        margin-top: -30px;
      }
    }
  }
}
