  /* Map styles */

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 60%;
    margin-bottom: 100px;
    z-index: 0;
  }

  /* Popup content styles */

  .popup-content {

    /* Customize the styles as desired */

    width: 175px;

    padding: 5px;

    text-align: center;

    word-wrap: break-word; /* Allow content to wrap to the next line */

  }

  .popup-content img {

    width: 100%; /* Add this line to limit the image width */

    height: 100%;

    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    margin-top: 15px;

  }

  .popup-content h4 {

    margin-bottom: 10px;

    margin-top: 1px;

  }

  .popup-content p {

    /* Adjust the styles as desired */

    margin-bottom: 10px;

  }

  .popup-content a {

    /* Customize link styles */

    color: #007bff; /* Blue link color */

    text-decoration: none; /* Remove underline */

    font-size: 18px;

  }

  .popup-content a:hover {

    text-decoration: none; /* Remove underline on hover */

  }

  .popup-content a:visited {

    color: #007bff; /* Keep the link color after it's been visited */

  }

  /* Distance box styles */

#distanceBox {
    position: absolute;
    top: 10px;  /* Adjust to move it further from or closer to the top edge */
    right: 10px;  /* Adjust to move it further from or closer to the right edge */
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: 600;
    color: #8b0000;
    z-index: 900;
}

  #distanceBox.within-threshold {

    border-color: #00ff00;

  }

  /* Info box styles */

  .info-box-container {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: flex-start;

    /* Align boxes at the top of the container */

    position: fixed;

    top: 72%;

    left: 5%;

    right: 5%;

    margin-top: 50px;

    padding: 10px;

    z-index: 1;

    text-align: center;

  }

  .info-box {

    width: 90%;

    max-width: 90%;

    /* Adjusted maximum width for large screens */

    margin: 0 auto;

    /* Center the box horizontally */

    background-color: #ffffff;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    /* Increased the spread to 16px */

    margin-bottom: 25px;

    padding: 20px;

    font-size: 18px;

    /* Adjusted font size for better readability */

    line-height: 1.6;

    /* Adjusted line height for better readability */

    text-align: center;

  }

  /* Exit button styles */

  .exit-button {

    font-size: 18px;

    /* Adjusted font size for better readability */

    padding: 8px 16px;

    /* Adjusted padding for better spacing */

    margin-top: -35px;

    background-color: #0077cc;

    /* Blue button color */

    color: #ffffff;

    /* White text color */

    border: none;

  }

  @media (max-width: 800px) {

    /* Styles for mobile devices */

    #map {

      bottom: 60%;

      /* Adjusted bottom position for the boxes on mobile devices */

      margin-bottom: 50px;

      /* Reduced margin between map and boxes on mobile devices */

    }

    .info-box {

      font-size: 20px;

    }
 
    #distanceBox {

      font-size: 18px;

    }

    .exit-button {

      font-size: 20px;

      padding: 10px 20px;

      margin-top: -35px;

    }

  }

  @media (max-width: 500px) {

    /* Styles for even smaller screens */

    .info-box-container {

      top: 66%;

      /* Adjust the top position for even smaller screens */

      margin-top: 0;

      /* Remove the margin-top for even smaller screens */

    }

    /* Exit button styles for even smaller screens */

    .exit-button {

      font-size: 20px;

      padding: 10px 20px;

      margin-top: -35px;

    }

  }

  /* Styles for Chromebook */

  @media screen and (min-width: 1024px) {

    .info-box-container {

      top: 75%;

      /* Adjust the top position for Chromebook */

      margin-top: 0;

      /* Remove the margin-top for Chromebook */

    }

  }

  .custom-popup .leaflet-popup-content {

    font-size: 18px;

    /* Adjust the font size as desired */

  }
