/* General Styles & Color Palette */
body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --primary-color: #0065D1;
    --secondary-color: #800000;
    --text-color: #333;
    --light-bg-color: #f5f5f5;
}

/* Map and Popups */
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 60%;
    margin-bottom: 100px;
    z-index: 0;
}

#location-popup, #explanation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 20px;
    z-index: 900;
    font-size: 1rem; /* Responsive font size */
    max-width: 90%;
}

#explanation-popup {
    width: 100%;
    max-width: 600px;
}

#explanation-popup h3 {
    font-size: 1.5rem; /* Responsive font size */
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#explanation-popup h4 {
    font-size: 1.25rem; /* Responsive font size */
    margin-top: 20px;
    margin-bottom: 10px;
}

#explanation-popup p {
    text-align: left;
    margin: 10px 0;
    font-size: 1rem; /* Responsive font size */
}

#explanation-popup ul.itinerary-list {
    list-style-type: none;
    padding-left: 0;
}

#explanation-popup ul.itinerary-list li {
    font-size: 1rem; /* Responsive font size */
    margin: 8px 0;
    padding-left: 25px;
    position: relative;
}

#explanation-popup ul.itinerary-list li i.fas.fa-map-marker-alt {
    position: absolute;
    left: 0;
    top: 2px;
    color: var(--primary-color);
}

#close-popup {
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem; /* Responsive font size */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-popup i {
    margin-right: 5px;
}

.hidden {
    display: none;
}

/* Popup Content */
.popup-content {
    width: 100%;
    max-width: 175px;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

.popup-content img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.popup-content h4 {
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: 1rem; /* Responsive font size */
}

.popup-content p {
    margin-bottom: 10px;
    font-size: 0.875rem; /* Responsive font size */
}

.popup-content a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem; /* Responsive font size */
}

.popup-content a:hover {
    text-decoration: underline;
}

.popup-content a:visited {
    color: var(--primary-color);
}

/* Distance Box */
#distanceBox.within-threshold {
    border-color: #00ff00;
}

/* Info Boxes */
.info-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 72%; /* Default for larger screens */
    left: 5%;
    right: 5%;
    margin-top: 50px;
    padding: 10px;
    z-index: 1;
    text-align: center;
}

.info-box {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 25px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.025);
    border-radius: 10px;
    padding: 20px;
    font-size: 1rem; /* Responsive font size */
    line-height: 1.5;
    text-align: center;
}

/* Buttons & Tooltips */
button, .leaflet-bar, #recenter-button, #help-button {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover, .leaflet-bar:hover, #close-popup:hover {
    transform: scale(1.05);
    background: var(--primary-color);
    color: #fff;
}

button:focus, .leaflet-bar:focus {
    outline: none;
}

#recenter-button, #help-button {
    position: absolute;
    bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#recenter-button {
    left: 10px;
}

#help-button {
    right: 10px;
}

#recenter-icon, #help-icon {
    font-size: 1.375rem; /* Responsive font size */
}

.exit-button {
    border-radius: 10px;
    font-size: 1.125rem; /* Responsive font size */
    min-width: 120px;
    padding: 8px 16px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    margin-top: -30px; /* Adjusted to pull the button up */
}

.exit-button:hover {
    transform: scale(1.05);
    background: var(--primary-color);
    color: #fff;
}

/* Markers */
.custom-marker-icon {
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 0.75rem; /* Responsive font size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker-number {
    font-weight: 700;
    color: white;
    font-size: 1rem; /* Responsive font size */
}

.blue-marker {
    background-color: green;
}

.orange-marker {
    background-color: orange;
}

.green-marker {
    background-color: green;
}

.split-marker {
    background: linear-gradient(90deg, orange 50%, green 50%);
}

.wbl_split-marker {
    background: linear-gradient(90deg, var(--secondary-color) 50%, green 50%);
}

.purple-marker {
    background-color: purple;
}

.burgundy-marker, .charcoal-marker {
    background-color: var(--secondary-color);
}

.teal-marker {
    background-color: teal;
}

/* Media Queries */
@media (max-width: 800px) {
    #map {
        bottom: 60%;
        margin-bottom: 50px;
    }

    .info-box {
        font-size: 1.125rem; /* Responsive font size */
    }

    #distanceBox {
        font-size: 1.125rem; /* Responsive font size */
    }

    .exit-button {
        font-size: 1.125rem; /* Responsive font size */
        padding: 10px 20px;
    }
}

@media (max-width: 500px) {
    .info-box-container {
        top: 65%; /* Adjusted to pull the container up */
        margin-top: 20px; /* Adjusted margin to pull it up */
    }

    .exit-button {
        font-size: 1.125rem; /* Responsive font size */
        padding: 10px 20px;
        margin-top: -20px; /* Adjusted to pull the button up */
    }
}

@media screen and (min-width: 1024px) {
    .info-box-container {
        top: 72
