/* General Styles */
body {
   background: #E6EFF5;
  font-family: "Source Sans Pro", system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #333;
}

main {
  background-color: #ffffff;
  padding: 60px 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #2D4059;
  text-align: center;
}

/* Hero Section */
.hero-section {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, rgba(43, 76, 126, 0.9), rgba(43, 76, 126, 0.7)), url('https://www.mnthen.com/images/bg/mission_bg.jpg') center/cover no-repeat;
  padding: 2rem;
  color: white;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-title {
  font-size: clamp(3rem, 8vw, 4.5rem);
  font-weight: 800;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.025);
}

.hero-subtitle {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  margin-bottom: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.025);
  line-height: 1.6;
}

/* Search Bar */
.search-bar {
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
}

.form-control:focus {
  box-shadow: none;
  border-color: #6c63ff;
}

/* tour card */
.tour-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height */
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}

.tour-card h2 {
  font-size: 1.60rem;
  font-weight: 700;
  color: white;
  background-color: #007bff;
  padding: 15px 22px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  width: calc(100% + 2px);
}

.tour-card p {
  padding: 0 22px;
  font-size: 1.20rem;
  line-height: 1.6;
  color: #555;
  margin-top: 20px;
  margin-bottom: 5px;
}

.tour-card .btn {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 24px;
  border-radius: 12px;
  background-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.050);
  color: white;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 75%; 
  display: block; 
  margin: 0 auto; 
}

.tour-card .btn:hover {
  background-color: #004494;
  border-color: #003366;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-section {
    padding: 1rem;
  }

  .hero-title {
    font-size: clamp(2rem, 6vw, 3rem);
  }

  .hero-subtitle {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }

  .tour-card {
    flex: 1 1 100%;
  }
}  
