/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Use a modern font */
}

/* Header styles */
header {
  background-color: #6c757d; /* Replace with the desired grey color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.025);
  width: 100%;
  top: 0;
  z-index: 999;
  position: relative;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar-brand,
.navbar-links ul,
.donate-btn {
    margin-top: .1rem;
  margin-bottom: .1rem; /* Add some spacing between elements */
}

.navbar-links ul {
  display: flex;
  list-style: none;
  align-items: center; /* Align items vertically */
}

.navbar-links li:not(:last-child) {
  margin-right: 1.5rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem;
  transition: color 0.3s ease;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically */
}

.navbar-links a:hover {
  color:  #00008B; /* Change text color on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Add a subtle background color on hover */
}

.donate-btn {
  background-color: #ba4f4f;  
  color: #fff; /* Change text color to white */
  /* border: 1px solid #ccc; */
  padding: 0.15rem 1.5rem; /* Increase padding and border radius */
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for color change */
  font-size: 1.1rem; /* Increase font size */
}

.donate-btn:hover {
  background-color: #fff; /* Darken background color on hover */
  color: #00008B; /* Change text color to white */
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px; /* Increase height */
  cursor: pointer;
}

.bar {
  height: 4px; /* Increase height */
  width: 30px; /* Increase width */
  background-color: #333;
  border-radius: 10px;
}

.text-margin {
  margin-left: 5px; /* Adjust the value as needed */
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    order: 2;
    color: #fff; /* Change the color of the toggle button to white */
  }
  
  .bar {
  height: 4px;
  width: 30px;
  background-color: #fff; /* Change the color to white */
  border-radius: 10px;
}
  
  .navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .navbar {
    flex-direction: row; /* Keep navbar in a row */
    align-items: center;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
  text-align: left;
    margin: 0.5rem 0;
  }

  .navbar-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .navbar-links.active {
    display: block; /* Change to 'block' for the dropdown menu */
  }
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  background-color: #909090;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-item {
  text-align: center;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  border-bottom: 1px solid #555;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #444;
}

.dropdown-item h5 {
  color: #fff;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .dropdown-menu {
    width: 95vw;
    background-color: #909090;
  }
}
