:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --text-color: #333;
    --correct-color: #208e4e;
    --incorrect-color: #E74C3C;
    --accent-color: #3498DB;
    --background-gradient-start: #ECE9E6;
    --background-gradient-end: #FFFFFF;
}

* {
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    background: linear-gradient(135deg, var(--background-gradient-start), var(--background-gradient-end)), url('https://www.mnthen.com/images/header/trivia_game.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 96%;
    max-width: 800px;
    height: 95vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.85));
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.075), 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 15px;
}

#game-title {
    color: #000033;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#question {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
}

#timer {
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    color: var(--incorrect-color);
    margin-bottom: 5px;
}

.option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #2f6db4;
    color: white;
    border: none;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 1.05rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1.3;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
}

.option-btn:hover, .option-btn:focus {
    background: #437BBB;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.025);
}

.option-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 10.01%);
    background-size: 1000%;
    opacity: 0;
    transition: background 0.5s, opacity 0.5s;
}

.option-btn:active::before {
    background-position: center;
    background-size: 100%;
    opacity: 1;
    transition: 0s;
}

.option-btn.correct {
    background: var(--correct-color) !important;
    color: white !important;
    border-color: var(--correct-color) !important;
}

.option-btn.incorrect {
    background: var(--incorrect-color) !important;
    color: white !important;
    border-color: var(--incorrect-color) !important;
}

.option-btn.overlaid::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#feedback-popup, .popup, #game-end-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#feedback-popup p, #game-end-popup p {
    margin: 10px 0;
}

#feedback-popup {
    padding: 15px;
    width: 90vw;
}

#question-number, #feedback-result, #correct-answer, #question-score {
    font-size: 1.1em;
}

#question-number, #feedback-result, #correct-answer, #question-score, #result-text {
    color: @000;
}

#feedback-result.correct {
    color: var(--correct-color); !important
}

#feedback-result.incorrect {
    color: var(--incorrect-color); !important
}

#correct-answer {
    color: #ccc;
    margin: 15px 0;
}

#question-score {
    font-size: 1.1em;
    color: var(--accent-color);
    margin: 15px 0;
}

.btn {
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    align-self: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.btn:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.btn.correct {
    background: linear-gradient(135deg, var(--correct-color), #45B649);
}

.btn.incorrect {
    background: linear-gradient(135deg, var(--incorrect-color), #C0392B);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 10.01%);
    background-size: 1000%;
    opacity: 0;
    transition: background 0.5s, opacity 0.5s;
}

.btn:active::before {
    background-position: center;
    background-size: 100%;
    opacity: 1;
    transition: 0s;
}

#continue-btn, #next-question-btn {
    background: linear-gradient(135deg, var(--primary-color), #45B649);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#continue-btn.correct, #next-question-btn.correct {
    background: var(--correct-color);
}

#continue-btn.incorrect, #next-question-btn.incorrect {
    background: var(--incorrect-color);
}

#close-end-popup, #play-again-btn {
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    align-self: center;
    width: 150px;
}

#close-end-popup {
    background-color: green;
}

#play-again-btn {
    background-color: red;
}

#score-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 2px solid #ccc;
}

#question-count {
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
}

#current-score {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--accent-color);
}

.hidden {
    display: none !important;
}

.fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
