
/* Hero styles */
.hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  z-index: 1;
  padding: 0 2rem;
}

.hero-text {
  background-color: rgba(0, 119, 182, 0.9);
  color: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 60vw;
  margin-top: -50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.025);
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #0077b6;
  font-size: 22px;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #00008B;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .hero-text {
    padding: 2rem;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.4rem;
  }
}

/* Welcome Section */
.welcome {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.welcome-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: #0077b6;
  margin-bottom: 20px;
}

.welcome-content p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.welcome-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
}

.feature-item {
  max-width: 300px;
  margin: 20px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.025);
  border-radius: 12px;
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

.welcome-feature-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #36454F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.welcome-feature-icon i {
  font-size: 36px;
}

.feature-item h3 {
  font-size: 24px;
  font-weight: 700;
  color: #0077b6;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  flex-grow: 1; /* Add this line */
}

/* Services */
.card {
  border-radius: 15px; /* Rounds all corners */
  overflow: hidden; /* Ensures child elements do not overflow */
}

.card-img-top {
  border-top-left-radius: 15px; /* Rounds the top corners of the image */
  border-top-right-radius: 15px; /* Rounds the top corners of the image */
}

.card-body {
  padding: 1.5rem; /* Adds padding for a cleaner layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures spacing between elements */
}

.card-title {
  font-size: 1.5rem; /* Increases title size */
  font-weight: bold; /* Makes title bold */
  margin-bottom: 1rem; /* Adds space below title */
   text-align: center;
}

.card-text {
  font-size: 1.2rem; /* Standard font size for body text */
  color: #555; /* Softer color for text */
}

.btn {
  border-radius: 5px; /* Softer rounded corners for buttons */
  padding: 0.75rem 1.5rem; /* Adds padding for buttons */
  font-size: 1rem; /* Standard font size for buttons */
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
}


/* The body */

 .resources .content-card {


    display: flex;

    flex-direction: column;

    height: 100%;


  }

  .resources .content-card .card-content {


    flex-grow: 1;


  }



.resources .btn {


  width: 200px;


}

/* Add border radius to cards */
.rounded-10 {
  border-radius: 10px;
}

/* Style for headline */
.text-white {
  color: #fff !important; /* Override Bootstrap default color */
}

    .footer-container {
    width: 95%; /* Full width */
    max-width: 1200px; /* Maximum width */
    margin: auto; /* Center the container */
    padding: 35px; /* Padding inside the container */
}

/* Fermentarium Section */
.fermentarium-section {
  background-color: #ffffff;
}

.text-primary {
  color: #0d3d7d !important;
}

.text-dark {
  color: #333 !important;
}

.text-muted {
  color: #666 !important;
}

.fermentarium-feature-icon {
  margin-right: 1rem;
}

.fermentarium-feature-text h4 {
  margin-bottom: 0.5rem;
}

.fermentarium-content {
  padding: 1rem 2rem;
}

.fermentarium-image img {
  border-radius: 0.5rem;
}

/*Newsletter */
.cta {
  position: relative;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(to bottom, #f8f9fa, #e9ecef);
}

.decorative-element1, .decorative-element2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.decorative-element1 {
  width: 100px;
  height: 100px;
  top: 10%;
  left: 15%;
  animation: float1 6s ease-in-out infinite;
}

.decorative-element2 {
  width: 150px;
  height: 150px;
  bottom: 10%;
  right: 15%;
  animation: float2 8s ease-in-out infinite;
}

/* Change the newsletter image size */
.larger-image {
  width: 450px; /* Adjust the value as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}



@media (min-width: 768px) {
  .row {
    --bs-gutter-x: 1rem;
  }
}

@media (min-width: 992px) {
  .row {
    --bs-gutter-x: 2rem;
  }
}

.g-3 {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 1rem;
}

.g-md-2 {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
}

@media (min-width: 768px) {
  .g-md-2 {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
  }
}

@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
