/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

/* Define accent colors */
:root {
    --primary-color: #2c3e50; /* Dark blue */
    --secondary-color: #27ae60; /* Green */
    --accent-color: #3498db; /* Blue */
}

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Background gradient and image */
body {
        font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(230, 238, 255, 0.85)), url('https://www.mnthen.com/images/header/trivia_game.jpg');
    background-size: cover;
    background-position: center;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

/* Main container */
.container {
    width: 82vw;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    overflow-y: auto;
}

/* Header styles */
h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 700;
    letter-spacing: 0.8px;

}

/* Style for the hint button */
#hint-btn {
    position: fixed;
    top: 7px;
    left: 7px;
    padding: 8px 14px;
    background-color: #ffffff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

/* Style for the hint button text */
#hint-btn span {
    font-weight: bold;
}

#hint-btn:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-color: var(--accent-color);
    transform: translateY(-2px);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}

.modal-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Style for the modal text */
.modal-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

#hintText {
    margin-bottom: 15px;
}

#okButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#okButton:hover {
    background-color: #45a049;
}

/* Question styles */
.question {
    margin-bottom: 20px;
    font-size: 1.35rem;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    min-height: 6.5rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

/* Exit button styles */
#exit-btn {
    position: fixed;
    top: 7px;
    right: 7px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

#exit-btn:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
}

/* Exit Popup styles */
#exitPopup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 12px;
    display: none;
    z-index: 10;
    max-width: 500px;
    text-align: center;
    animation: fadeIn 0.5s ease;
    margin: auto;
}

#exitPopup h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#exitPopup p {
    margin-bottom: 30px;
}

#confirm-exit-btn, #cancel-exit-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    min-width: 150px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#confirm-exit-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}

#confirm-exit-btn:hover {
    background-color: #219150;
    transform: translateY(-2px);
}

#cancel-exit-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
}

#cancel-exit-btn:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

/* Options styles */
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.option-btn {
    padding: 15px 20px;
    height: 100px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

.option-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
}

.option-btn:hover::before {
    transform: translate(-50%, -50%) scale(3);
    opacity: 1;
}

.option-btn:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
}

.option-btn.correct {
    background-color: var(--secondary-color);
    animation: pulse 0.5s ease;
}

.option-btn.incorrect.correct {
    background-color: var(--secondary-color);
}

.option-btn.incorrect {
    background-color: #e74c3c;
    animation: shake 0.5s ease;
}

/* Score styles */
#score {
    margin-top: 35px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

/* Popup styles */
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
    padding: 60px;
    border-radius: 12px;
    display: none;
    z-index: 10;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease;
}

#popup-message {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#popup-message.incorrect {
    color: #e74c3c;
}

#popup-message.correct {
    color: var(--secondary-color);
}

#next-question-btn {
    padding: 20px 30px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#next-question-btn:hover {
    background-color: #219150;
}

#next-question-btn.incorrect {
    background-color: #e74c3c;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    #exitPopup {
        width: 70vw;
    }

    #confirm-exit-btn, #cancel-exit-btn {
        width: 100%;
        margin-bottom: 15px;
        min-width: unset;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
}

@media (max-width: 600px) {
    .options {
        grid-template-columns: 1fr;
    }

    body {
        height: 100vh;
    }

    h1 {
        margin-top: 3px;
        font-size: 1.6rem;
    }

    .popup {
        padding: 40px;
    }

    .container {
        height: 90vh !important;
        width: 100vw;
    }

    .option-btn {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }

    .question {
        font-size: 1.2rem;
        height: auto;
        padding: 10px;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
